:root {
  --primary-text-color: #555555;
  --tittle-text-color: #303030;
  --accent-color: #ff6c00;
  --secondary-white-text: #9da4bd;
  --section-hero-text: rgba(157, 164, 189, 0.6);
  --first-color: #ffffff;
  --tittle-font: "Raleway", sans-serif;
}

/* general styles */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em;
  /* background-color: var(--first-color); */
  color: var(--primary-text-color);
  background-color: gray;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header styles */

.header-tel-link,
.header-nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.34;
  letter-spacing: 0.1em;
  color: var(--first-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--first-color);
}
.about-button,
.header-button,
.services-button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  background-color: transparent;
  color: var(--tittle-text-color);
  text-transform: uppercase;
}
/* hero */
.about-suptittle,
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  color: var(--tittle-text-color);
}

.hero-suptittle,
.services-suptittle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  color: var(--section-hero-text);
}
.hero-tittle {
  font-family: var(--tittle-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--first-color);
}
.hero-subtittle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-white-text);
}
/* about */
.about-suptittle {
  text-transform: uppercase;
}
.about-tittle,
.benefits-tittle {
  font-family: var(--tittle-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17px;
  letter-spacing: 0.05em;
  color: var(--tittle-text-color);
}
.about-subtittle {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--primary-text-color);
}
.about-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  color: var(--primary-text-color);
}

/* services */
.services-tittle {
  font-family: var(--tittle-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--first-color);
}
.services-item-left,
.services-item-right {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-white-text);
}
.services-item-right {
  text-align: right;
}
/* benefits */
.benefits-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--tittle-text-color);
}
.benefits-plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
  vertical-align: top;
}
.benefits-txt {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--tittle-text-color);
}
.benefits-suptittle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--tittle-text-color);
}
/* .benefits-tittle {
  font-family: var(--tittle-font);
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--tittle-text-color);
} */
.benefits-subtittle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--primary-text-color);
}
