:root {
  --primary-text-color: #555555;
  --tittle-text-color: #303030;
  --accent-color: #ff6c00;
  --secondary-white-text: #9da4bd;
  --section-text: rgba(157, 164, 189, 0.6);
  --first-color: #ffffff;
  --tittle-font: 'Raleway', sans-serif;
}

/* general styles */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em;
  /* background-color: var(--first-color); */
  color: var(--primary-text-color);
  background-color: gray;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ----- */
/* header styles */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 1px solid tomato; */
}
.section {
  padding: 120px 0;
}
.header-container {
  display: flex;
  align-items: center;
  background-color: var(--tittle-text-color);
}
.header-link {
  margin-right: 132px;
}
.header-nav {
  margin-right: auto;
}
.header-list {
  display: flex;
  align-items: center;
}
.header-item:not(:last-child) {
  margin-right: 30px;
}
.header-right {
  display: flex;
  align-items: center;
}
.header-nav-link {
  display: block;
  padding: 52px 0;
}
.header-tel-link {
  display: block;
  margin-right: 40px;
  padding: 52px 0;
}

.link {
  text-decoration: none;
}

.header-tel-link,
.header-nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.34;
  letter-spacing: 0.1em;
  color: var(--first-color);
}
/* ----- */
/* hero styles  */

/* ----- */

/* about styles */

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--first-color);
  border: 1px solid #ff6c00;
  border-radius: 25px;
}
.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  background-color: transparent;
  color: var(--first-color);
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

.services-button {
  display: block;
  margin: 0 auto;
  color: var(--first-color);
}

/* hero */
.hero {
  background-color: var(--tittle-text-color);
  outline: 1px solid yellow;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  color: var(--tittle-text-color);
}

.uppertittle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.uppertittle::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--section-text);
}
.uppertittle-white-them {
  color: #303030;
}
.uppertittle-white-them::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--tittle-text-color);
}

.tittle {
  margin-bottom: 44px;
  font-family: var(--tittle-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--first-color);
}
.tittle-hero {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 20px;

  color: var(--first-color);
}
.undertittle {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.67;
  color: var(--primary-text-color);
}
.hero-right-side {
  padding: 272px 0 208px 100px;
}
.hero-undertittle {
  width: 360px;
  margin-bottom: 0;
}
.slider-list {
  display: none;
}
.hero-list {
  display: none;
}
/* about */
.about-container {
  display: flex;
}
.about-list {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}
.about-right {
  width: 470px;
}

.about-tittle {
  margin-bottom: 20px;
  color: var(--tittle-text-color);
}

.about-descript {
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* services */
.services {
  max-width: 1600px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-color: #111319;
  background-image: url(../images/price.png);
  background-repeat: no-repeat;
}
.services-tittle {
  margin-bottom: 44px;

  color: var(--first-color);
}
.services-upertittle {
  color: var(--section-text);
}
.price-block {
  display: flex;
  margin-bottom: 44px;
  justify-content: space-between;
}
.services-list {
  flex-basis: 570px;
  padding: 30px 20px;
}
.services-list:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.services-list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.services-item:not(:last-child) {
  margin-bottom: 20px;
}
.services-item {
  display: flex;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-white-text);
  align-items: baseline;
}

.services-item::before {
  content: '';
  flex-grow: 1;
  height: 1px;
  margin: 0 12px;
  background-color: rgba(157, 164, 189, 0.12);
}
.services-price {
  order: -1;
}

.list {
  outline: 1px solid tomato;
}

/* benefits */
.benefits-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--tittle-text-color);
}
.benefits-plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
  vertical-align: top;
}
.benefits-txt {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--tittle-text-color);
}
/* <!-- section our-barbers --> */
.our-barbers-container {
  background-color: #f7f7f7;
}
.our-barbers-tittle {
  color: var(--tittle-text-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-item {
  flex-basis: calc((100% - 30px * 2) / 3);
}
.team-wrapper {
  padding: 30px 10px 0;
}
.team-name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: var(--tittle-text-color);
}
.team-position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  color: var(--accent-color);
}
.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--tittle-text-color);
  border-radius: 50%;
  background-color: var(--first-color);
}
.social-icon {
  color: currentColor;
}
.socials-link:focus,
.socials-link:hover {
  fill: var(--accent-color);
}

/* <!-- section gallery --> */
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.gallery-item {
  flex-basis: calc((100% - 30px * 3) / 4);
}
/* contacts */

.contacts-section {
  max-width: 1600px;
  margin: 0 auto;
  background-image: url(../images/Bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left calc(50% + 490px) center;

  background-color: #191c26;
}
.contacts-group-container {
  display: flex;
  gap: 30px;
  padding-top: 130px;
}
.contacts-group {
  flex-basis: 570px;
  padding-left: 100px;
  padding-top: 130px;
}
.online-booking-group {
  flex-basis: 570px;
}
.contacts-tittle {
  margin-bottom: 40px;
}
.contacts-list {
  margin-bottom: 70px;
}
.contact-item:not(:last-child) {
  margin-bottom: 20px;
}
.contact-item + .contact-item {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.contact-item:first-child {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
}
.contact-item a {
  font-style: normal;
  color: var(--secondary-white-text);
}
.contact-item:last-child {
  text-decoration-line: underline;
}
.contacts-time-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--secondary-white-text);
}
.contacts-schedule {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--first-color);
}
.contacts-schedule::before {
  content: '';
  display: inline-block;

  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--section-text);
}
.contacts-icon {
  margin-right: 16px;
  align-self: center;
  stroke: var(--secondary-white-text);
  fill: none;
}
.top {
  align-self: flex-start;
}
.contact-link {
  display: flex;
}

/* footer */

.footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 56px;
  padding-right: 215px;
  padding-left: 215px;
}
.footer-list {
  display: flex;
  align-items: center;
}
.footer-list a {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--tittle-text-color);
}
.footer-item:first-child {
  margin-right: 40px;
}

.footer-list::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: var(--tittle-text-color);
}
.footer-uppertittle::before {
  content: '\00A0 \00A9 \00A0';
  display: inline-block;
  margin-right: 6px;

  color: var(--secondary-white-text);
}
.footer-uppertittle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  /* text-transform: uppercase; */
  color: var(--secondary-white-text);
}
